<html>

<head>
  <title>Dream Visualization</title>
  <meta charset="UTF-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
  <link href="bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
  <!-- <link href="bower_components/flatui/css/flat-ui.css"> -->
  <link href="bower_components/nouislider/distribute/jquery.nouislider.min.css">
  <link href="bower_components/nouislider/distribute/jquery.nouislider.pips.min.css">
  <link rel="stylesheet" href="bower_components/dcjs/dc.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>
  <div class="loading-screen">


    <h1> DREAM VISUALIZATION </h1>
    <h3> Loading ...</h3>
    <span class="loader">
      <span class="loader-inner"></span>
    </span>

  </div>

  <div class="panel panel-right">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <br>
          <div class="togglebutton">
            <label>
              <input type="checkbox"  data-toggle="switch" id="comparisonSwitch" />
            </label>
            <h8>COMPARISON MODE</h8>
          </div>

          <div class="slider" id="AgeFilter">
            <h5>Age Range :</h5>
            <div id="display" style="display:inline">
              <span id="displower"></span>-
              <span id="disphigher"></span>
            </div>
            <div id="display2" class="compElement" style="display:inline;position:absolute;right:5px">
              <span id="displower2"></span>-
              <span id="disphigher2"></span>
            </div>
            <div id="AgeSlider">
            </div>
            <div class="compElement" id="AgeSlider2">
            </div>
          </div>

          <h5>Gender</h5>
          <form class="form-horizontal" role="form">
            <fieldset>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="genderMale" value="Male"> Male
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="genderMale2" value="Male">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="genderFemale" value="Female"> Female
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="genderFemale2" value="Female">
                  </label>
                </div>


              </div>
            </fieldset>
          </form>
          <h5>Marital Status</h5>
          <form class="form-horizontal" role="form">
            <fieldset>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="maritalSingle" value="Single"> Single
                  </label>

                  <label style="position:absolute;right:1px" class="compElement"  >
                    <input type="checkbox" id="maritalSingle2" value="Single">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="maritalMarried" value="Married"> Married
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="maritalMarried2" value="Married">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="maritalDivorced" value="Divorced"> Divorced
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="maritalDivorced2" value="Divorced">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="maritalWidow" value="Widowed"> Widow(er)
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="maritalWidow2"  value="Widowed">
                  </label>
                </div>


              </div>
            </fieldset>
          </form>
          <h5>Education</h5>
          <form class="form-horizontal" role="form">
            <fieldset>
              <div class="form-group">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="educationLess" value="Less than High School"> Less than High School
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="educationLess2" value="Less than High School">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="educationHigh" value="High School degree"> High School degree
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="educationHigh2" value="High School degree">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="educationBC" value="Associate/Bachelor Degree">Associate/Bsc Degree
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="educationBC2" value="Associate/Bachelor Degree">
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" id="educationPH" value="MS/PhD"> MS/PhD
                  </label>
                  <label style="position:absolute;right:1px" class="compElement" >
                    <input type="checkbox" id="educationPH2" value="MS/PhD">
                  </label>
                </div>

                </div>

              </div>
            </fieldset>
          </form>





        </div>
      </div>
    </div>
  </div>
  <div class="bottom-panel">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12">
          <h1 id="displayed-word"> Word </h1>
          <span id="close" class="og-close" onClick="tokenDim.filter(null);"></span>
          <div id="fluctuation-chart"></div>
          <div id="chart-ring-gender"></div>
          <div id="chart-row-education"></div>
          <div id="chart-ring-status"></div>
        </div>
      </div>
    </div>
  </div>

  <div id="wordcloud">

  </div>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/d3-cloud/d3.layout.cloud.js"></script>
  <script src="bower_components/crossfilter/crossfilter.js"></script>
  <script src="bower_components/dcjs/dc.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script src="bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>

  <script>
    $(document).ready(function() {
      $.material.init();
    });
  </script>

  <script charset="utf-8">
    $(document).ready(function() {

      ////setTimeout(function(){console.log("hello");},3000);
      setTimeout(function() {
        $('.loading-screen').toggleClass('visible')
      }, 500);

      $("#close").click(function() {
        $(".bottom-panel").toggleClass("visible");
      })

    });
  </script>

  <script>
  $(document).ready(function(){
  $('#comparisonSwitch').click(function(){
    console.log("clicked")
    $('.compElement').toggleClass('compElementVisibility')
  });

  });
  </script>
  <script>
  $(document).ready(function(){
    $("#AgeSlider").noUiSlider({
      start: [20, 80],
      connect: true,
      step: 1,
      range: {
        'min': 7,
        'max': 77
      }
    });
    $("#AgeSlider2").noUiSlider({
      start: [20, 80],
      connect: true,
      step: 1,
      range: {
        'min': 7,
        'max': 77
      }
    });

    $('#AgeSlider').Link('lower').to($('#displower'));
    $('#AgeSlider').Link('upper').to($('#disphigher'));

    $('#AgeSlider2').Link('lower').to($('#displower2'));
    $('#AgeSlider2').Link('upper').to($('#disphigher2'));
  });
  </script>
  <script src="js/main.js">
  </script>
</body>

</html>
