<html>
  <head>
    <title>Dream Visualization</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/ripples.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap-material-design/dist/css/material-wfont.min.css" rel="stylesheet">
    <!-- <link href="bower_components/flatui/css/flat-ui.css"> -->
    <link href="bower_components/nouislider/distribute/jquery.nouislider.min.css">
    <link href="bower_components/nouislider/distribute/jquery.nouislider.pips.min.css">
    <link rel="stylesheet" href="bower_components/dcjs/dc.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div class="loading-screen">


      <h1> DREAM VISUALIZATION </h1>
      <h3> Loading ...</h3>
        <span class="loader"><span class="loader-inner"></span></span>

    </div>

    <div class="panel panel-right">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
                <br>
                <div class="togglebutton">
                  <label>
                    <input type="checkbox" checked data-toggle="switch" id="custom-switch-01" />
                  </label>
                  <h8>COMPARISON MODE</h8>
                </div>

                <div class="slider" id="AgeFilter">
                  <h5>Age Range :</h5>
                      <div id="disp">
                        <span id="displower"></span>-<span id="disphigher"></span>
                      </div>

                      <div id="AgeSlider">

                      </div>
                </div>

                  <h5>Gender</h5>
                  <form class="form-horizontal" role="form">
                    <fieldset>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Male
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Female
                        </label>
                      </div>


                    </div>
                  </fieldset>
                  </form>
                  <h5>Marital Status</h5>
                  <form class="form-horizontal" role="form">
                    <fieldset>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Single
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Married
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Divorced
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Widow(er)
                        </label>
                      </div>


                    </div>
                  </fieldset>
                  </form>
                  <h5>Education</h5>
                  <form class="form-horizontal" role="form">
                    <fieldset>
                    <div class="form-group">
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> Less than High School
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> High School Degree
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox">Associate/Bachelor Degree
                        </label>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox"> MS/PhD
                        </label>
                      </div>

                    </div>
                  </fieldset>
                  </form>





        </div>
      </div>
      </div>
    </div>
    <div class="bottom-panel">

      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
          <h1 id="displayed-word"> Word </h1>
          <span id="close" class="og-close"></span>
          <div id="fluctuation-chart"></div>
          <div id="chart-ring-gender"></div>
          <div id="chart-row-education"></div>
          <div id="chart-ring-status"></div>
        </div>
        </div>
      </div>
    </div>

    <div id="wordcloud">

    </div>

  <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/d3-cloud/d3.layout.cloud.js"></script>
  <script src="bower_components/crossfilter/crossfilter.js"></script>
  <script src="bower_components/dcjs/dc.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
  <script src="bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
  <script src="bower_components/nouislider/distribute/jquery.nouislider.all.min.js"></script>

  <script>
      $(document).ready(function() {
          $.material.init();
      });
  </script>

  <script charset="utf-8">
    $(document).ready(function(){

      ////setTimeout(function(){console.log("hello");},3000);
      setTimeout(function(){$('.loading-screen').toggleClass('visible')},500);

      $('#leftPanelSwitch input[type="checkbox"]').change(function(ev) {

        $(".panel.panel-left").toggleClass("visible");

      });

      $("#close").click(function(){
        $(".bottom-panel").toggleClass("visible");
      })

    });
  </script>

  <script>
    $("#AgeSlider").noUiSlider({
      start: [20, 80],
      connect: true,
      step: 1,
      range: {
        'min': 7,
        'max': 77
      }
    });


    $('#AgeSlider').Link('lower').to($('#displower'));
    $('#AgeSlider').Link('upper').to($('#disphigher'));
  </script>
  <script charset="utf-8">

  function showWord(e){
    $("#displayed-word").text(e.text)
    $(".bottom-panel").toggleClass("visible");

  }
  //Color scale for d3
  var fill = d3.scale.category10();

  var truc = ["than", "cat", "world", "plop", "lol"];
  var cooc = [1.0, 20.5, 10, 4, 100]


  ar = ["than", "cat", "world"]

  //Configuration of the cloud
  d3.layout.cloud().size([1000, 1000])
      .words(truc.map(function(d) {
          return {
              text: d,
              size: 1 + cooc[truc.indexOf(d)]
          };
      }))
      .padding(1)
      .rotate(function() {
          return ~~(Math.random() * 2) * 90;
      })
      .font("Impact")
      .fontSize(function(d) {
          return d.size;
      })
      .on("end", draw)
      .start();
  //Drawing function
  function draw(words) {
      d3.select("#wordcloud").append("svg")
          .attr("width", 1000)
          .attr("height", 1000)
          .append("g")
          .attr("transform", "translate(500,500)")
          .selectAll("text")
          .data(words)
          .enter().append("text")
          .on("click",showWord)
          .style("font-size", function(d) {
              return d.size + "px";
          })
          .style("font-family", "RobotoDraft")
          .style("fill", function(d, i) {
              var arraycontainstest = (ar.indexOf(d.text.toLowerCase()) > -1);
              if (arraycontainstest) {
                  return fill(0);
              } else if (i % 10 != 0) {
                  return fill(i);
              } else {}
          })
          .attr("text-anchor", "middle")
          .attr("transform", function(d) {
              return "translate(" + [d.x, d.y] + ")rotate(" + d.rotate + ")";
          })
          .text(function(d) {
              return d.text;
          });
  }
  </script>
  <script>

  // chargement du .csv
  var url = "data/wordcount_v2.csv";

  // choix du mot-filtre
  var tokenToFilter = "get";

  d3.csv(url, function(data) {
    var ndx = crossfilter(data);
    // nombre total de mots
    var tokenDim = ndx.dimension(function(d) {return d.token;});
    var m = tokenDim.groupAll().reduceSum(function(d) {return +d.values;}).value();
    // nombre de lignes filtrées TO DO: si n=0 ??
    var filteredToken = tokenDim.filter(tokenToFilter);
    var n = filteredToken.top(Infinity).length;
    //var n = data.length

    var educationDim  = ndx.dimension(function(d) {return d.education;});
    var education_total = educationDim.group().reduceSum(function(d) {return +d.values;});
    var education_freq = educationDim.group().reduceSum(function(d) {return +d.values/n;});

    var genderDim  = ndx.dimension(function(d) {return d.gender;});
    var gender_total = genderDim.group().reduceSum(function(d) {return +d.values;});
    var gender_freq = genderDim.group().reduceSum(function(d) {return +d.values/n;});

    var maritalDim  = ndx.dimension(function(d) {return d.marital_status;});
    var marital_total = maritalDim.group().reduceSum(function(d) {return +d.values;});
    var marital_freq = maritalDim.group().reduceSum(function(d) {return +d.values/n;});

    var ageDim  = ndx.dimension(function(d) {return +d.age;});
    var age_total = ageDim.group().reduceSum(function(d) {return +d.values;});
    var age_freq = ageDim.group().reduceSum(function(d) {return +d.values;});

    var minAge = ageDim.bottom(1)[0].age;
    var maxAge = ageDim.top(1)[0].age;

  // afficher un titre
    var fluctuationChart = dc.barChart('#fluctuation-chart');
      fluctuationChart
      .width(420).height(180)
      .gap(60)
    //.margins({top: 10, right: 50, bottom: 30, left: 40})
      .dimension(ageDim)
      .group(age_freq)
      .x(d3.scale.linear().domain([minAge,maxAge]))
      .xUnits(function(){return 5;})
      .elasticY(true)
      .xAxis().tickFormat();

  // pie char of gender
  var genderRingChart = dc.pieChart("#chart-ring-gender");
    genderRingChart
    .width(100).height(100)
    .dimension(genderDim)
    .group(gender_freq)
    .innerRadius(10);

  // bar chart of education
  var educationRowChart = dc.rowChart("#chart-row-education");
    educationRowChart
    .width(350).height(200)
    .dimension(educationDim)
    .group(education_freq)
    .elasticX(true);

  // pie chart of marital status
  var genderRingChart   = dc.pieChart("#chart-ring-status");
  genderRingChart
  .width(100).height(100)
  .dimension(maritalDim)
  .group(marital_freq)
  .innerRadius(10);

  dc.renderAll();

});

  </script>
  </body>
</html>
